body
{
  color:grey;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  width: 70%;
  text-align: left;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  margin: 8px auto;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#cabecera
{
  backface-visibility: #88f;
  box-shadow: 0px 2px 50px 0px rgb(0,0,0,75);
  color:blue;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}
#cabecera #tagline
{
font-weight: normal;
font-size: 0.8em;
padding: 0 0 0 1em;
}